.App {
  text-align: center;
}
.container {
  padding: 0 20px;
}
nav {
  height: 2em;
  line-height: 2em;
}
nav .nav-header {
  float: left;
}
nav ul {
  display: inline-block;
  float: right;
  margin: 0 0;
}
nav li {
  display: inline-block;
  margin: 0 15px;
}
